@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #8ec746;
  --dark-color: #1f5e58;
  --accent-color: #f78328;
  --light-color: #fffaf6;
  --secondary-color: #515151;
  --text-dark-color: #1f1f1f;
  --third-color: #91e9e2;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", "Segoe UI";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7, 51%, #f2f2f2 75%);
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 1rem;
  padding: 0 1rem;
}

.btn {
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  transition: all 0.3s ease;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
}

.btn__primary {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn__primary:hover {
  background: transparent;
  color: var(--text-dark-color);
  box-shadow: inset 0 0 0 0.2rem var(--dark-color);
}
